
<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>{% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FONDAZIONE CULTURALE SAN PIETRO IN LAMOSA ONLUS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="FREEHTML5.CO" />
	<meta name="google-site-verification" content="F6R-mc6YWs1ACOqDakzWHkTXLR1I_qkt6Wi2OM76ao0" />
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	 <!-- SLIDER REVOLUTION -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/style.css' %}" media="screen" />
    <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/settings.css' %}" media="screen" />

	<!-- Google Webfonts -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


	<!-- LIGHTBOX -->
	<link href="{% static 'css/lightbox.css' %}" rel="stylesheet">



	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Simple Line Icons-->
	<link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<!-- Salvattore -->
	<link rel="stylesheet" href="{% static 'css/salvattore.css' %}">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" href="{% static 'custom.css' %}">


	</head>
	<body>
		
	{% include 'componenti/menu.html' %}

	{% block content %}


	
	{% endblock %}
			
			




		<footer id="fh5co-footer">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-footer-content">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<h3 class="fh5co-lead">ORARIO APERTURA<br>AL PUBBLICO:<br>
								DISCIPLINA E CHIOSTRO</h3>
								<p class="orari-txt">
									SABATO - DOMENICA - FESTIVI<br><br>
									Periodo estivo (aprile - ottobre)<br>
									10.00/12.00 - 15.00/18.00<br><br>
									Periodo invernale (novembre - marzo)
									<br>10.00/12.00 - 14.00/17.00<br>
								</p>
							</h3>
						</div>

						<div class="col-sm-12 col-md-3">
							<div class=""><a href="index.html"><img src="{% static 'img/logo_footer.png' %}" class="img-responsive" style="width:190px;"></a></div>
							<p class="fh5co-copyright"><br><small>&copy; 2016. Tutti i diritti Riservati. <br>	Designed by <a href="http://www.graficapassword.it/" target="_blank">grafica<strong>PASSWORD</strong></a></small></p>
							<p class="fh5co-social-icons" style="text-align:left; padding-left:0px;">
								<a href="https://www.facebook.com/sanpietro.inlamosa?fref=ts" target="_Blank">
									social: <i class="icon-facebook"></i>
								</a>
								<!-- a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-youtube"></i></a -->
							</p>
							<a href="http://www.sitesclunisiens.org/index.php?newlang=italian" target="_Blank">
								<img src="{% static 'img/logo_cluny.jpg' %}" class="img-responsive" style="width: 100px;">
							</a>
						</div>
						
						<div class="col-sm-6 col-md-2">
							<h3 class="fh5co-lead">LINK</h3>
							<ul>
								<li><a href="{% url 'pagina' 3 %}">Fondazione</a></li>
								<li><a href="{% url 'pagina' 2 %}">Attività</a></li>
								<li><a href="{% url 'monastero' %}">Sale del Monastero</a></li>
								<li><a href="/#fh5co-pricing">Mappa</a></li>
								<li><a href="{% url 'contatto' %}">Contatti</a></li>
								<li><a href="/admin">Login</a></li>
							</ul>
						</div>
						
						<div class="col-s-sm-6 col-md-2">
							<h3 class="fh5co-lead">LUOGHI</h3>
							<ul>
								<li><a href="{% url 'luogo' 1 %}">Il Monastero</a></li>
								<li><a href="{% url 'luogo' 3 %}">Le Torbiere</a></li>
								<li><a href="{% url 'luogo' 2 %}">La Franciacorta</a></li>
								<li><a href="{% url 'luogo' 4 %}">Provaglio d'Iseo</a></li>
								<li><a href="{% url 'luogo' 5 %}">Lago d'Iseo e Vallecamonica'</a></li>
								<li><a href="{% url 'luoghi' %}">Itinerari Consigliati</a></li>
							</ul>
						</div>
						
						<div class="col-sm-6 col-md-2">
							<h3 class="fh5co-lead">PARTNER</h3>
							<ul>
								<li><a href="#"><img src="{% static 'img/logo_comune.png' %}" class="img-responsive"></a></li>
								<li><a href="/pagina/6/"><img src="{% static 'img/logo_5xmille.png' %}" style="width:80%"></a></li>
							</ul>
						</div>
						
						<div class="col-xs-12 col-sm-12">
							<p class="footer-intestazio">Fondazione Culturale San Pietro in Lamosa Onlus
								<br><span style="font-size: 12px">Via Monastero 5 - 25050 Provaglio d'Iseo (BS) - P.IVA: 02530420989 - tel. 030/9823617 - fax. 030/9823617  email: <a href="mailto:info@sanpietroinlamosa.org">info@sanpietroinlamosa.org</a></span></p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		</footer>

	</div>

<script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true
    })
</script>

	<!-- jQuery -->
	<!--script src="js/jquery.min.js"></script-->
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- Owl Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- toCount -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'js/main.js' %}"></script>
	
	<script src="{% static 'js/lightbox.js' %}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77473754-1', 'auto');
  ga('send', 'pageview');

</script>

	

	
	</body>
</html>
