{% extends 'base.html' %}

{% block content %}


<style>
	.fh5co-nav-toggle i::before, 
	.fh5co-nav-toggle i::after {
	    content: '';
	    width: 25px;
	    height: 3px;
	    background: #000;
	    position: absolute;
	    left: 0;
	    -webkit-transition: 0.2s;
	    -o-transition: 0.2s;
	    transition: 0.2s;
	}
	
	.fh5co-nav-toggle > span {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100px;
    margin-top: 12px;
    color: #000;
    margin-left: -70px;
    font-family: "Montserrat", arial, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
	background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
	float: right;
  position: relative;
  top: 12px;
  right: 0px;
  margin-right: -20px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  color: #000000;

  height: 44px;
  width: 44px;
  border-bottom: none!important;
  > span {
	@include inline-block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100px;
	margin-top: 12px;
	color: $brand-black;
	margin-left: -70px;
	font-family: $font-monsterrat;
	letter-spacing: 2px;
	font-size: 15px;
	text-transform: uppercase;
	.scrolled & {
		color: $brand-black;
	}
  }
}

.consiglio-titolo {
	background: #fbbb01;
	color: #ffffff;
	text-align:center;
}

#fh5co-features, #fh5co-features-2, #fh5co-features-3, #fh5co-products, #fh5co-faqs {
    position: relative;
    padding: 2em 0;
}

.fh5co-nav-toggle > span {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100px;
    margin-top: 12px;
    color: #000000;
    margin-left: -70px;
    font-family: "Montserrat", arial, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
}

.fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 25px;
    height: 3px;
    color: #fff;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000000;
    transition: all .2s ease-out;
}


.fh5co-nav-toggle.active i::before, 
.fh5co-nav-toggle.active i::after {
    background: #000;
}
	</style>

	

<div id="fh5co-page">
	<h1 class="titolo-consiglio" style="background: #fbbb01; color: #4d4d4f; text-align:center; margin: 0px; padding:10px;">&nbsp;</h1>

    <div id="fh5co-features" data-section="features">


	   <div class="container">


          {% for collana in collana_list %}

		      <div class="row">

			       <div class="col-md-12 fh5co-section-heading text-center">
			           <h2 id=""class="fh5co-lead to-animate" style="text-align: center">{{collana.titolo}}</h2>
                <h3>{{collana.sottotitolo}}</h3>
                {% if collana.id == 1 %}
                <h5>(L'edizione completa del suo contenuto è disponibile presso il Monastero)</h5>
                {% elif collana.id == 2 %}
                <p style="text-align: left">Questo volume inaugura la collana dei Quaderni de Monastero.<br>
                    Nelle antiche stanze recentemente restaurate del Monastero di Provaglio di'Iseo, infatti, la Fondazione Culturale San Pietro in Lamosa Onlus ha organizzato unconvegno ed una mostra dedicati a Giuseppe Zanardelli (1826 - 1903). Nel corso di tre giornate, sono interventui alcuni dei più qualificati studiosi del grande giurista e uomo politico, con l'intento, puramente divulgativo, di farne conoscere e apprezzare la vita, il pensiero, le opere.<br>
                    A fronte dell'interesse suscitato, capace di superare le migliori aspettative, si è ritenuto opportuno, anche grazie al sostegno dell'Amministrazione Comunale, pubblicare gli interventi dei relatori, insieme all'appassionante discorso di Zanardelli agli elettori del Collegio di Iseo del 13 gennaio 1895.<br>
                    Nella mostra allestita in occasione del convegno, sono stati esposti per la prima volta oltre trecento documenti inediti provenienti dall'archivio privato dello statista. Nella seconda parte del libro, corredata di un ricco apparato iconografico, si offre la trascrizione di alcuni interessanti manoscritti presentati nel percorso espositivo.    
                     <br><br>
                    Il Volume è disponibile al prezzo di 12 Euro.<br>
                    Per ulteriori informazioni:<br>
                    tel. 030/9823617 <br>
                    email: info@sanpietroinlamosa.org<br>
                </p>
                {% endif %}
		          </div>

		      </div><!-- row -->

          <div class="row"> 
              {% for pub in collana.pubblicazioni_set.all %}
              <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12" style="margin-bottom:20px;">
                <a href="/media/{{pub.image}}" class="" data-lightbox="image-1">
                  <img src="/media/{{pub.image}}" alt="{{pub.titolo}}" class="img-responsive">
                </a>
              </div>
              {% endfor %}
              <div class="col-xs-12"><hr></div>
          </div><!-- row -->
{% endfor %}

    </div><! -- container -->

  </div>

</div>


{% endblock %}