{% extends 'base.html' %}

{% block content %}

		{% include 'componenti/slider.html' %}

		{% include 'componenti/widget_menu.html' %}

		{% include 'componenti/widget_pagine.html' %}



		<div id="fh5co-pricing" data-section="pricing" style="margin-bottom:0px; margin-top:0px;padding:0px;">
			<div class="container">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11551.44633807495!2d10.02871751048628!3d45.640942732296374!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa69af7f5d261e296!2sMonastero+di+San+Pietro+in+Lamosa!5e0!3m2!1sit!2sit!4v1456394540037" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
				
{% include 'componenti/newsletter.html' %}
</div>



{% endblock %}