{% extends 'base.html' %}
{% block content %}
<style> 
  .fh5co-nav-toggle i::before, 
  .fh5co-nav-toggle i::after {
      content: '';
      width: 25px;
      height: 3px;
      background: #000;
      position: absolute;
      left: 0;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
  }
  
  .fh5co-nav-toggle > span {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100px;
    margin-top: 12px;
    color: #000;
    margin-left: -70px;
    font-family: "Montserrat", arial, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
  background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  float: right;
  position: relative;
  top: 12px;
  right: 0px;
  margin-right: -20px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  color: #000000;

  height: 44px;
  width: 44px;
  border-bottom: none!important;
  > span {
  @include inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100px;
  margin-top: 12px;
  color: $brand-black;
  margin-left: -70px;
  font-family: $font-monsterrat;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  .scrolled & {
    color: $brand-black;
  }
  }
}

.consiglio-titolo {
  background: #fbbb01;
  color: #ffffff;
  text-align:center;
}

#fh5co-features, #fh5co-features-2, #fh5co-features-3, #fh5co-products, #fh5co-faqs {
    position: relative;
    padding: 2em 0;
}

.fh5co-nav-toggle > span {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100px;
    margin-top: 12px;
    color: #000000;
    margin-left: -70px;
    font-family: "Montserrat", arial, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
}

.fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 25px;
    height: 3px;
    color: #fff;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000000;
    transition: all .2s ease-out;
}


.fh5co-nav-toggle.active i::before, 
.fh5co-nav-toggle.active i::after {
    background: #000;
}
  </style>

  

<div id="fh5co-page">

      
<h1 class="titolo-consiglio" style="background: #fbbb01; color: #4d4d4f; text-align:center; margin: 0px; padding:10px;">
  &nbsp;
</h1>

<div id="fh5co-features" data-section="features">


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/media/{{news.image}}" class="img-responsive" style="margin-top:20px;">
         {% for filer in filer_list %}{% load thumbnail %} 
          <img src="{% thumbnail filer.image 600x400 crop %}" class="img-responsive" style="margin-top:20px;">
        {% endfor %}
      </div>

      <div class="col-md-8 fh5co-section-heading text-center">
        <h2 id=""class="fh5co-lead to-animate" style="text-align: left">{{news.titolo}}</h2>
        <h4 style="text-align: left">
          {{news.pub_date|date:'d-m-Y'}}
        </h4>
        <p class="fh5co-sub to-animate" style="text-align:justify;">
          {{news.body|safe}}
        </p>
            {% for doc in news.documenti.all %}
            <p style="text-align: left">
                <a href="/media/{{doc.allegato}}" target="_Blank"><i class="fa fa-file-pdf-o"></i> {{doc.titolo}}</a>
            </p>
            {% endfor %}

      </div>
    </div><!-- row -->
  </div><! -- container -->

</div>

</div>

{% endblock %}