<div id="fh5co-offcanvass">{% load staticfiles %}
		<ul class="scrollable-menu">
			<li><a href="/#" data-nav-section="home">HOME</a></li>
			<li class="dropdown"><a id="btn-3" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">FONDAZIONE</a>
				<ul class="nav collapse" id="submenu3" role="menu" aria-labelledby="btn-2">
					<li><a href="{% url 'pagina' 3 %}">presentazione</a></li>
					<li><a href="{% url 'pagina' 1 %}">consiglio</a></li>
					<li><a href="{% url 'pagina' 2 %}">attività</a></li>
					<li><a href="{% url 'pagina' 4 %}">soci</a></li>
    			</ul>
			</li>
			
			<li class="dropdown"><a href="#" id="btn-2" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">ATTIVITA'</a>
				<ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-2">
					<li><a href="{% url 'categoria' 1 %}">mostre</a></li>
					<li><a href="{% url 'collana' %}">pubblicazioni</a></li>
					<li><a href="{% url 'categoria' 3 %}">concerti</a></li>
					<li><a href="{% url 'categoria' 4 %}">convegni</a></li>
					<li><a href="{% url 'categoria' 5 %}">eventi</a></li>
				</ul>
			</li>

			<li><a href="{% url 'cluniacensi' %}">ITINERARIO CULTURALE<br>CLUNIACENSE LOMBARDIA</a></li>
			
			<li class="dropdown"><a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">INFO-NEWS</a>
				<ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
					<li><a href="{% url 'monastero' %}">le sale del monastero</a></li>
					<li><a href="{% url 'galleria' %}">gallery</a></li>
					<li><a href="{% url 'pagina' 7 %}">informazioni turistiche</a></li>
					<li><a href="{% url 'partner' %}">partner fondazione</a></li>
					<!--li><a href="/#fh5co-subscribe">newsletter</a></li-->
					<li><a href="{% url 'news' %}">blog news</a></li>
				</ul>
			</li>
			<li class="dropdown"><a href="{% url 'luoghi' %}">LUOGHI</a></li>
			<li class="dropdown"><a href="/#fh5co-pricing">MAPPA</a></li>
			<li class="dropdown"><a href="{% url 'contatto' %}">CONTATTI</a></li>
			<li class="dropdown"><a href="/admin">LOGIN</a></li>
			<li>&nbsp;</li>
			<li>
				<!--form class="navbar-form navbar-left" role="search">
		        	<div class="form-group">
		          		<input type="text" class="form-control" placeholder="Search">
		        	</div>
		      </form -->
	     	</li>
	     		<li>
			<a href="https://www.facebook.com/sanpietro.inlamosa?fref=ts" target="_Blank"> social: <i class="icon-facebook"></i></a></li>
			
		</ul>

	</div>
	
	<div id="fh5co-menu" class="navbar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><span>Menu</span> <i></i></a>
					<a href="/#" class="navbar-brand"><img src="{% static 'img/LOGOSANPIETRO.png' %}" class="logo"></a>
				</div>
			</div>
		</div>
	</div>