<div id="fh5co-subscribe">
					<div class="container">
						<div class="row animate-box">
							<form action="/contact/" method="post">{% csrf_token %}
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<input type="text" class="form-control" name="nome" placeholder="nome" required>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<input type="text" class="form-control" name="cognome" placeholder="cognome" required>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<input type="email" class="form-control" name="email" placeholder="email" required>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<input type="submit" class="btn btn-primary" value="Iscrizione Newsletter">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>


