<div id="fh5co-page">
		<div id="fh5co-wrap">
  <!-- revolution -->

      <div class="tp-banner-container">
          <div class="tp-banner" >
            <ul>
           		{% for attivita in att_list %}
              <!-- SLIDE  -->{% load cropping %}
              <li data-transition="random" data-slotamount="5" data-masterspeed="700" >
                <!-- MAIN IMAGE -->
                <img src="{% cropped_thumbnail attivita "slider" %}"   alt="{{slider.titolo}}"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              	<!-- Layer 1 -->
					<div class="tp-caption lft customout pieno"
						data-y="190"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on">
						<a href="{% url 'attivita' attivita.id %}">
							<h1 class="stext h1">{{attivita.titolomenu|safe}}</h1>
							<p class="slidetxt">
								{% if attivita.fine %}
									Dal: {{attivita.inizio|date:'d-m-Y'}}  Al: {{attivita.fine|date:'d-m-Y'}}
								{% else %}
									il {{attivita.inizio|date:'d-m-Y'}}
								{% endif %}
							</p>
						</a>

					</div>
              </li>
              {% endfor %}

            	{% for slider in slider_list %}
            	<!-- SLIDE  -->{% load cropping %}
              <li data-transition="random" data-slotamount="5" data-masterspeed="700" >
                <!-- MAIN IMAGE -->
                <img src="{% cropped_thumbnail slider "slider" %}"   alt="{{slider.titolo}}"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              	<!-- Layer 1 -->
					<div class="tp-caption lft customout pieno"
						data-y="190"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on">
						<a href="{{slider.link}}">
						<h1 class="stext h1">{{slider.scritta}}</h1>
						<p class="slidetxt">{{slider.didascalia|safe}}
						</p>					</a>

					</div>
              </li>
              {% endfor %}

            </ul>

          </div>
      </div>
              <script type="text/javascript">

				var revapi;

				jQuery(document).ready(function() {

					   revapi = jQuery('.tp-banner').revolution(
						{
							delay:15000,
							startwidth:1170,
							startheight:500,
							hideThumbs:10,
							fullWidth:"off",
							fullScreen:"on",
							navigationStyle:"bullet",
							fullScreenOffsetContainer: ""

						});

				});	//ready

			</script>
			<!-- END .header -->
