			<div id="fh5co-main">
				
				<!--div id="fh5co-clients">
					<div class="container">
						<div class="row text-center">
							<div class="col-md-2 col-sm-6 col-xs-12 to-animate">
								<h3><span style="color: #fbbb01">L</span>A <span style="color: #fbbb01">F</span>ONDAZIONE</h3>
							</div>
							<div class="col-md-2 col-sm-6 col-xs-12 to-animate">
								<h3><span style="color: #fbbb01">A</span>TTIVITA'</h3>
							</div>
							<div class="col-md-2 col-sm-6 col-xs-12 to-animate">
								<h3><span style="color: #fbbb01">I</span>NFO.<span style="color: #fbbb01">N</span>EWS</h3>
							</div>
							<div class="col-md-2 col-sm-6 col-xs-12 to-animate">
								<h3><span style="color: #fbbb01">S</span>ITI <span style="color: #fbbb01">C</span>LUNIACENSI</h3>
							</div>
							<div class="col-md-2 col-sm-6 col-xs-12 to-animate">
								<h3><span style="color: #fbbb01">G</span>ALLERY</h3>
							</div>
							<div class="col-md-2 col-sm-6 col-xs-12 to-animate">
								<h3><span style="color: #fbbb01">C</span>ONTATTI</h3>
							</div>
						</div>
					</div>
				</div-->

			</div>