<div id="fh5co-features" data-section="features">

<div class="container">
						<div class="row">
							<div class="col-xs-12 col-md-1"></div>
							<div class="col-xs-12 col-md-10 fh5co-section-heading text-center">
								<h2 class="fh5co-lead to-animate">FONDAZIONE CULTURALE<br>SAN PIETRO IN LAMOSA (onlus)</h2>
								<p class="fh5co-sub to-animate">
									Il Monastero di San Pietro in Lamosa ha aderito alla Rete europea dei Siti Cluniacensi, patrocinata dal Consiglio d'Europa come "Grande Itinerario Culturale Europeo". 
									All'interno di tale Rete, è sorto, grazie al contributo decisivo della nostra Fondazione, un Itinerario Cluniacense della Lombardia, che al momento comprende 11 siti.
									La Fondazione Culturale San Pietro il Lamosa Onlus, sorta per iniziativa del Comune di Provaglio d’Iseo ma soggetto autonomo a tutti gli effetti, ha lo scopo di valorizzare l’omonimo Monastero medievale di San Pietro il Lamosa, sito nel citato comune di Provaglio d’Iseo, nel quadro di una valorizzazione dell’intero territorio della Franciacorta e del Sebino, secondo un’ottica di sviluppo sostenibile.
									Perciò mettendosi in rete con tutte le realtà socio – culturali ed economiche che condividono la stessa ottica, la fondazione intende promuovere un’impresa culturale in grado, non solo di salvaguardare il complesso architettonico quale prezioso bene storico – artistico del territorio, ma anche (in ossequio alla sua identità storica) di trasformarlo in un centro vivo di servizi culturali e religiosi, in una sorta di “vetrina” e “sala di rappresentanza” del territorio e in un nodo fondamentale di circuiti turistico – culturali zonali, regionali ed europei.
								</p>
							</div>


							<div class="col-xs-12 col-md-1"></div>

							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="{% url 'pagina' 1 %}" class="fh5co-feature to-animate" style="background-color: #fbbb01">
									<span class="fh5co-feature-icon"><i class="icon-mustache"></i></span>
									<h3 class="fh5co-feature-lead" style="color: #ffffff">CONSIGLIO</h3>
									<p class="fh5co-feature-text"></p>
								</a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="{% url 'pagina' 2 %}" class="fh5co-feature to-animate" style="background-color: #fbbb01">
									<span class="fh5co-feature-icon"><i class="icon-screen-smartphone"></i></span>
									<h3 class="fh5co-feature-lead" style="color: #ffffff">ATTIVITA'</h3>
									<p class="fh5co-feature-text"></p>
								</a>
							</div>
							<div class="clearfix visible-sm-block"></div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="{% url 'pagina' 3 %}" class="fh5co-feature to-animate" style="background-color: #fbbb01">
									<span class="fh5co-feature-icon"><i class="icon-eye"></i></span>
									<h3 class="fh5co-feature-lead" style="color: #ffffff">PRESENTAZIONE</h3>
									<p class="fh5co-feature-text"></p>
								</a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="{% url 'pagina' 4 %}" class="fh5co-feature to-animate" style="background-color: #fbbb01">
									<span class="fh5co-feature-icon"><i class="icon-cloud-download"></i></span>
									<h3 class="fh5co-feature-lead" style="color: #ffffff">SOCI</h3>
									<p class="fh5co-feature-text"></p>
								</a>
							</div>

							<div class="clearfix visible-sm-block"></div>

							<div class="fh5co-spacer fh5co-spacer-sm"></div>

							<div class="col-md-4 col-md-offset-4 text-center to-animate">
								<!--a href="#" class="btn btn-primary">View All Features</a-->
							</div>
			        	</div>
			       </div>
			       

			    </div>