


#fh5co-menu {
	margin-top:0px;
	background: rgba(255, 255, 255, 0.3);
	padding-top:10px;
	padding-bottom:10px;
	height: 100px;
	position:fixed;
}

#fh5co-offcanvass ul {
    padding: 0;
    padding-left: 15px;
    margin: 10px 0 30px 0;
}

#fh5co-offcanvass ul li a {
    display: block;
    padding: 10px 4px;
    border-bottom: 1px solid #eaeaea;
    font-size: 15px;
    color: #444;
}


#fh5co-menu .logo {
	width: 230px;
	margin-top:-20px;
}


.stext {
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	padding-top: 10px;
	padding-left: 200px;
	padding-right: 30px;
	font-size: 70px;
	text-align:left;
}


.stext2 {
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 200px;
	font-size: 70px;
	text-align:left;
}


.pieno {
	/*margin-left:-135px;*/
	background-color:rgba(10,61,109,0.5);
	border-left-width:20px;
	border-left-style: solid;
	border-left-color: #fbbb01;
}

.pieno3 {
	margin-left:0px;
	background-color:rgba(251,187,1,0.5);
	border-left-width:10px;
	border-left-style: solid;
	border-left-color: #0055a6;
}

.pieno4 {
	background-color:rgba(10,61,109,0.5);
	border-left-width:10px;
	border-left-style: solid;
	border-left-color: #fbbb01;
}

.slidetxt {
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	text-align:right;
	padding-bottom:130;
	padding-right: 30px;
}

.fh5co-social-icons {
	padding-left:25px;
}

#fh5co-clients h3 {
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	margin-top:10px;
	font-size: 20px;
}


.fh5co-sub {
	padding-top:20px;
	text-align:center;
}

.fh5co-section-heading .fh5co-lead {
    font-size: 45px;
    line-height: 40px;
}

.fh5co-lead {
	color: #4d4d4f;
	}

.fh5co-feature-lead h3 {
	color: #fffff;
}

.tp-bullets.simplebullets.navbar {

		    height: 35px;
		    padding: 0px 0px;

		}
		.tp-bullets.simplebullets .bullet {
		    cursor: pointer;
		    position: relative !important;
		    background: rgba(0, 0, 0, 0.5) !important;
		    -webkit-border-radius: 10px;
		    border-radius: 10px;
		    -webkit-box-shadow: none;
		    -moz-box-shadow: none;
		    box-shadow: none;
		    width: 6px !important;
		    height: 6px !important;
		    border: 5px solid rgba(0, 0, 0, 0) !important;
		    display: inline-block;
		    margin-right: 2px !important;
		    margin-bottom: 14px !important;
		    -webkit-transition: background-color 0.2s, border-color 0.2s;
		    -moz-transition: background-color 0.2s, border-color 0.2s;
		    -o-transition: background-color 0.2s, border-color 0.2s;
		    -ms-transition: background-color 0.2s, border-color 0.2s;
		    transition: background-color 0.2s, border-color 0.2s;
		    float:none !important;
		}
		.tp-bullets.simplebullets .bullet.last {
		    margin-right: 0px
		}
		.tp-bullets.simplebullets .bullet:hover,
		.tp-bullets.simplebullets .bullet.selected {
		    -webkit-box-shadow: none;
		    -moz-box-shadow: none;
		    box-shadow: none;
			background: rgba(255, 255, 255, 0.8) !important;
			width: 6px !important;
		    height: 6px !important;
		    border: 5px solid rgba(255, 255, 255, 0.8) !important;
		}
		


#consiglio .tp-banner {
	margin-top:100px;
}

.consiglio-titolo {
	background: #fbbb01;
	color: #ffffff;
	text-align:center;
}


#fh5co-subscribe .btn {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #fbbb01;
}

#fh5co-subscribe .btn:hover, 
#fh5co-subscribe .btn:focus, 
#fh5co-subscribe .btn:active {
    outline: none !important;
    background: #fbbb01 !important; */
    border-color: transparent !important;
}

.btn:hover, 
.btn:focus, 
.btn:active {
    outline: none !important;
    background: #30beac !important;
    border-color: transparent !important;
}

#fh5co-footer {
    padding: 8em 0 0;
    background: #323a45;
    color: #878c93;
    position: fixed;
    bottom:0px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}


#fh5co-footer a:hover {
    color: #fbbb01;
}

.orari-txt {
	font-size: 12px;
}

.footer-intestazio {
	color: #fbbb01;
	padding-top:40px;
}


/*------ luoghi ----- */

#luoghi h3 {
	margin-top:0px;
	background-color: #fbbb01;
	color: #ffffff;
	padding: 5px;
}

#luoghi h3:hover {
	text-decoration: none;
	outline: none;
}

#luoghi .img-responsive {
	margin-top:20px;
}


#luoghi a:link,
#luoghi a:hover {
	font-style: none;
}
#luoghi a:hover,
#luoghi a:active,
#luoghi a:focus {
    color: none;
    outline: none;
    outline-width: 0px;
    font-style: none;
    text-decoration: none;
}

/*----- monastero ---- */

#monastero a:hover, a:active, a:focus {
    color: none;
    outline: none;
}
#monastero h3 {
	margin-top:0px;
	background-color: #fbbb01;
	color: #ffffff;
	padding: 5px;
}

#monastero h3:hover {
	text-decoration: none;
}

#monastero .img-responsive {
	margin-top:20px;
}


#galleria h5 {
	background-color: #fbbb01;
	color: #ffffff;
	margin-top:0px;
	padding:5px;
}

/* -- LINK --*/
.tp-caption a:hover {
    color: #ffa902;
}

.tp-caption a {
color:#ffa902;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out;
}



#fh5co-main,
#fh5co-footer {
  float: none;
  width: 100%;
}

/* ---- TABLET LANDSCAPE ---- */
@media only screen and (max-width : 1024px) {

	#fh5co-subscribe .btn {
		width:100%;
		font-size: 12px;
	} 

}


/* --- TABLET PORTRAIT --- */

@media only screen and (max-width : 768px) {
	.stext {
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	padding-top: 10px;
	padding-left: 200px;
	padding-right: 30px;
	font-size: 50px;
	text-align:left;
	}

	.stext h1 {
		font-size: 50px;
	}

	#fh5co-subscribe .btn {
		width:100%;
		font-size: 12px;
	} 

	footer {
		position:fixed;
	} 

}


@media only screen and (max-width : 460px) {
	#fh5co-menu .logo {
	    width: 180px;
	    margin-top: -20px;
	    float: none;
	}

	.pieno {
	/*margin-left:-135px;*/
		background-color:rgba(10,61,109,0.5);
		border-left-width:20px;
		border-left-style: solid;
		border-left-color: #fbbb01;
		/*display: none;*/
	}

	.slidetxt {
		font-family: 'Oswald', sans-serif;
		color: #ffffff;
		text-align:right;
		padding-bottom:50px;
		padding-right: 10px;
		font-size: 14px;
		/*display: none;*/
	}

	.stext {
		font-family: 'Oswald', sans-serif;
		color: #ffffff;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 26px;
		text-align:right;
	}

	.stext h1 {
		font-size: 26px;
		text-align: right;
	}


	#fh5co-wrap {
	    z-index: 89;
	    position: relative;
	    float: left;
	    background: #fff;
	}

	.fh5co-section-heading .fh5co-lead {
	    font-size: 25px;
	    line-height: 30px;
	}

	.fh5co-section-heading .fh5co-sub {
	    font-size: 13px;
	    line-height: 20px;
	}



	#fh5co-offcanvass {
		  position: fixed;
		  z-index: 90;
		  top: 0;
		  right: 0;
		  -webkit-transition: 0.5s;
		  -o-transition: 0.5s;
		  transition: 0.5s;
		  -webkit-transform: translateX(290px);
		  -moz-transform: translateX(290px);
		  -ms-transform: translateX(290px);
		  -o-transform: translateX(290px);
		  transform: translateX(290px);
		  bottom: 0;
		  width: 290px;
		  padding: 10px 10px;
		  background: #fff;
		  color: #878c93;
		}
		#fh5co-offcanvass .fh5co-lead {
		  font-size: 9px;
		  letter-spacing: 2px;
		  color: #ccc;
		  text-transform: uppercase;
		  margin-bottom: 10px;
		}
		#fh5co-offcanvass ul {
		  padding: 0;
		  margin: 10px 0 10px 0;
		}

		.scrollable-menu {
		    height: auto;
		    max-height: 98%;
		    overflow-x: hidden;
		}


		#fh5co-offcanvass ul li {
		  padding: 0;
		  margin: 0;
		  list-style: none;
		}
		#fh5co-offcanvass ul li a {
		  display: block;
		  padding: 10px 4px;
		  border-bottom: 1px solid #eaeaea;
		  font-size: 12px;
		  color: #444;
		}
	
}



